@{
    ViewBag.Title = "My Account";
}

@section HeadContent
{
    <link href="~/Content/Account/AccountStyles.css" rel="stylesheet"/>
}
<section class="user" id="user">

    <h1>Profile</h1>

    <div class="container">

        <div class="container" id="user-box">

            <div class="row">

                <div class="col-md-10">

                    <div class="user-details">

                        <h3>@Session["Username"]</h3>

                        <hr>

                        <p>

                            <i class="far fa-envelope" style="width:30px;"></i>@ViewBag.Email

                            <br />

                        </p>

                        <hr>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
